body {
  background-color: #060606;
  color: white;
  font-family: monospace;
  font-size: 1.25em;
  margin: 0;
  text-align: center;
}

table {
  margin: 0 auto;
  text-align: left;
  width: 400px;
}
caption {
  padding: 12px;
}

#browser-requirements {
  display: block;
}

canvas#main-viewport {
  background: transparent;
  cursor: none;
  display: none;
  height: 600px;
  margin: 0 auto;
  width: 1280px;
}
@media (min-width: 1280px) {
  #browser-requirements {
    display: none;
  }

  canvas#main-viewport {
    display: block;
  }
}
